
.star-checked {
    color: orange;
}

.star-line {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin-left: 35%;
    margin-right: 35%;
}

.star-line-info {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin-right: 80%;
    min-width: 100px;
}

.service-Quote{
    font-family: "papyrus";
    font-size: x-large;
    font-weight: bolder;
}

.service-Heading{
    font-family: 'crimson serif';
    padding-top: 50px;
    font-size: xx-large;
    font-weight: bolder;
}

.book-button{
    display: block;
    margin: 0 auto;
    font-size: 1.5em;
    padding: 10px 50px;
    border-radius: 22px;
    color: white;
    background-color: #485353;
    border: none;
}

.book-button:hover{
    -webkit-transform: scale(1.1);
}

.close-button{
    display: block;
    margin: 0 auto;
    font-size: 1em;
    padding: 5px 15px;
    border-radius: 22px;
    color: white;
    background-color: #485353;
    border: none;
}

.close-button:hover{
    -webkit-transform: scale(1.1);
}

.navbar-brand{
    font-family: 'papyrus' !important;
  }

.item-group {
    text-align: center;
    display: flex; 
    flex-direction: row;
    column-gap: 40px;
    row-gap: 50px;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
  
.item {
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
    width: 350px;
 }

 .item:hover{
    background-color:#FAF8F2;;
    -webkit-transform: scale(1.2);
 }

 .item-group>*:first-child {
    margin-left: 20px;
}

.item-group>*:last-child {
    margin-right: 20px;
}

.item img {
    width: 40%;
    height: 50%;
    border-radius: 50%;
}

.service-main {
    margin-top: -2.5%;
    background-image: url(../img/service.png);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-color:#efe7e7;
}

#consultant-info{
    display: none;
    text-align: center;
    background-color: #FFFFFF;
    border: 1px solid black;
    border-radius: 10px;
    background-image: none;
    width: 70%;
    margin-top: 100px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

#consultant-info img{
    width: 50%;
    height: 50%;
    border-radius: 50%;
}

.consultant-info-header {
    display: grid;
    align-items: center; 
    grid-template-columns: repeat(2, 1fr);;
    column-gap: 10px;
}

#consultant-info-name{
    text-align: left;
    font-size: 50px;
    font-family: 'papyrus';
}

#consultant-info-content{
    text-align: left;
    font-size: large;
    font-family: 'criimson serif';
    margin-bottom: 10px;
    margin-top: 10px;
}

textarea {
    height: 100px;
}

#booking-info{
    display: none;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #DFE8DE;
    background-image: none;
    width: 70%;
    max-width: 500px;
    margin-top: -10px;
    margin-bottom: -1px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
}

label {
    display: block;
    font-family: 'criimson serif';
    padding-bottom: 2px;
    font-size: 20px;
}

.elem-group {
    margin: 10px 0;
}
  
input, select, textarea {
    border-radius: 20px;
    border: 2px solid #1b1a1a;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'criimson serif';
    width: 100%;
    padding: 5px;
    background-color: #f4f4f4;
}
    
/* Mobile view*/
@media screen and (max-width: 700px){ 
    .item-group {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
    } 
    .service-main{
        margin-top: -1.5%;
        background-image: url(../img/base.png);
    }
    .star-line-info {
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        min-width: 100px;
    }
    #consultant-info img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        min-width: 100px;
        text-align: center;
    }
    .service-Heading{
        padding-top: 50px;
    }
    #consultant-info-content{
    text-align: center;
    }
}
